@import "tailwindcss";
@plugin "@tailwindcss/typography";

@font-face {
  font-family: 'ZT Neue Ralewe';
  src: url('/fonts/ZTNeueRalewe-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Sukhumvit Set';
  src: url('/fonts/SukhumvitSet-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #555353;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-ztneue: "ZT Neue Ralewe", sans-serif;
  --font-sukhumvit: "Sukhumvit Set", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}
